*{
	font-family: calibri, candara;
	margin: auto;
	/*border: 1px solid black;*/
}
table {
	width: 100%;
	table-layout: fixed;
}	
.container{
	width: 33%;
	display: table-cell;
	text-align: center;
}
.lezione {
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	display: block;
	width: 75%;
	padding: 10px 0px;
	margin: 10px auto;
    cursor: pointer;
	border-radius: 6px;
}
.esercitazione {
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	display: block;
	width: 50%;
	margin: 10px auto;
	padding: 8px 0px;
    cursor: pointer;
	border-radius: 10px;
}
#ottica {
	background-color: #F0F8FF;
	color: #999999;
}
#elettronica {
	background-color: #FFD700;
	color: black;
}
#materiali {
	background-color: #32CD32;
	color: white;
}
#orario {
	width: 100%;
	min-width: 900px;
}
.registrazione {
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	display: block;
	width: fit-content;
	margin: 10px auto;
	padding: 8px 8px;
    cursor: pointer;
	border-radius: 10px;
	background-color: #DCDCDC;
	color: black;
}
.red_dot {
	height: 10px;
}